# 캐시 및 빌드 아웃풋 무시
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.pnp.loader.mjs
.pnp.data.json

# 각 패키지의 dist 폴더 (tsc 결과물)
packages/**/dist/

# 로그 / 시스템 파일
.yarn-error.log
node_modules/
*.log

# IDE
.vscode/
.idea/
.DS_Store

# 환경 파일 (필요 시)
.env
.env.local

node_modules/
*.tsbuildinfo
.DS_Store
.vscode/
.rollup.cache/
.rollup.tscache/
.turbo/

plugin/dist/
plugin/types/
plugin/metadata/
docs/
projects/

dist/
types/

!.yarn/releases
!.yarnrc.yml
!.pnp.*

